#vbox1{
	 -fx-background-color: linear-gradient(to bottom right,#4d6eab ,#000000 );
}
#vbox2{
	 -fx-background-color: linear-gradient(to bottom right,#4d6eab ,#000000 );
}
.button {
    -fx-font-family: 'Verdana Bold Italic';
    -fx-font-size: 21.0;
    -fx-background-color:transparent;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 2, 2, 2);
    -fx-text-fill: white; 
}
#example{
	-fx-blend-mode: overlay  ;
	}
/* Add hover effects for buttons */
.button:hover {
    -fx-background-color: #263f73;
}
.button:pressed{
	-fx-background-color: linear-gradient(to right, #263f73, #4d6eab);
}
.root{
	-fx-background-color: linear-gradient(to top right , #000000, #ffffff);
}
#goback{
	-fx-background-color:linear-gradient(to right ,red,crimson);
	 -fx-font-size: 12.0;
}
#goback:hover{
		-fx-background-color:linear-gradient(to right ,crimson,red);
}
#goback:pressed{
		-fx-background-color:crimson;	
}
#pronounce{
	-fx-font-family: 'Verdana Bold Italic';
    -fx-font-size: 40.0;
    -fx-background-color:transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 2, 2, 2);
    -fx-text-fill: black;
}
#photo{
	-fx-background-color: linear-gradient(to bottom right , #FFFFFF, #FFFFEF)
}
#photo:hover{
	-fx-background-color:linear-gradient(to top right, #000000, #ffffff);
}
#photo:pressed{
	-fx-background-color:linear-gradient(to top right, #4d6eab ,#000000);

}
#info
{ 
	-fx-font-family: 'Verdana Bold Italic';
    -fx-font-size: 24.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 2, 2, 2);
    -fx-text-fill: white;
    
   
    }

#ab{
    -fx-font-family: 'Verdana Bold Italic';
    -fx-font-size: 21.0;
    -fx-background-color: linear-gradient(to right, #263f73, #4d6eab);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 2, 2, 2);
    -fx-text-fill: white; 
}
#ab:hover {
    -fx-background-color: #263f73;
}
#ab:pressed{
	-fx-background-color: linear-gradient(to right, #263f73, #4d6eab);
}